<div ng-app="myApp" ng-controller="View1Ctrl">
    <table class="table table-hover">
        <thead>
            <tr class="click">
                <th ng-click="sort('name')">Name</th>
                <th ng-click="sort('category')">Category</th>
                <th ng-click="sort('amount')">Amount</th>
            </tr>
            <tr ng-repeat="data in datas | orderBy:keyProp:reverse">
                <th>{{data.name}}</th>
                <th>{{data.category}}</th>
                <th>{{data.amount}}</th>
            </tr>
        </thead>
    </table>
</div>


